doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hola Pug
    body 
        h1 PUG con Gulp
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt dolor, rem at ducimus fugit modi. Iure debitis consectetur tenetur quod iste recusandae voluptatibus, nisi vero unde nam quaerat accusantium reiciendis.
        p Hola